alabaster=0.7.3=py27_0
babel=1.3=py27_0
certifi=14.05.14=py27_0
docutils=0.12=py27_0
ipython=3.2.0=py27_0
ipython-notebook=3.2.0=py27_0
jinja2=2.7.3=py27_1
jsonschema=2.4.0=py27_0
libsodium=0.4.5=0
markupsafe=0.23=py27_0
mistune=0.6=py27_0
numpydoc=0.5
openssl=1.0.1k=1
pip=7.1.0
ptyprocess=0.4
pygments=2.0.2
python=2.7.10=0
python.app=1.2=py27_4
pytz=2015.4
pyzmq=14.7.0
readline=6.2=2
setuptools=18.0.1
six=1.9.0
snowballstemmer=1.2.0
sphinx=1.3.1
sphinx_rtd_theme=0.1.7
sqlite=3.8.4.1=1
ssl_match_hostname=3.4.0.2
terminado=0.5
tk=8.5.18=0
tornado=4.2
zeromq=4.0.5=0
zlib=1.2.8=0
